/* .ringInside {
  width: 600px;
  height: 600px;
  background: linear-gradient(90deg, #00dbde, #fc00ff, #00dbde);
  border-radius: 50%;
  position: absolute;
  left: 840px;
  top: 200px;
  animation: glow 12s linear infinite;
  border: transparent;
  background-size: 300%;
}

.ringInside::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: inherit;
  background-size: inherit;
  border-radius: 4em;
  opacity: 0;
  transition: 0.5s;
}

.ringInside:hover::before {
  opacity: 1;
  filter: blur(80px);
  border-radius: 50%;
  animation: glow 12s linear infinite;
}

.ringInside::after {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 150px;
  left: 150px;
}

@keyframes glow {
  to {
    background-position: 300%;
  }
} */

.dataCollection {
  position: absolute;
  top: 458px;
  left: -10px;
  cursor: pointer;
  z-index: 200;
}

.dataStorage {
  position: absolute;
  top: 240px;
  left: -10px;
  cursor: pointer;
  z-index: 200;
}
.milkyWay {
  position: absolute;
  top: 68px;
  left: 308px;
  cursor: pointer;
  z-index: 200;
}
.DataAnotation {
  position: absolute;
  top: 240px;
  right: 2px;
  cursor: pointer;
  z-index: 200;
}

.ModleTraining {
  position: absolute;
  top: 464px;
  right: -150px;
  cursor: pointer;
  z-index: 200;
}
.TestViladation {
  position: absolute;
  top: 630px;
  left: 307px;
  cursor: pointer;
  z-index: 200;
}

.total {
  height: 800px;
  width: 800px;
  position: absolute;
  top: 17%;
  left: 52%;
}
.inner {
  height: 550px;
  width: 550px;
  position: absolute;
  top: 20%;
  left: 16%;
  z-index: 100;
}

/* .inner::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: #0268ea;
  background-size: 300%;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
}
.inner::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: white;
  background-size: 50%;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s; */
/* } */
/* .inner:hover::after {
  opacity: 1;
  filter: blur(20px);
  border-radius: 50%;
  animation: glow 12s linear infinite;
}
.inner:hover::before {
  opacity: 1;
  filter: blur(20px);
  border-radius: 50%;
  animation: glow 12s linear infinite;
} */
/* 添加按钮进入圆环转动效果 */
/* .inner:hover {
  transition-duration: 140s;
  transition-property: transform;
  transform: rotate(6000deg);
  transition-timing-function: linear;
} */
/* .inner:hover::before {
  transition-duration: 1400s;
  transition-property: transform;
  transform: rotate(60000deg);
}
.inner:hover::after {
  transition-duration: 1400s;
  transition-property: transform;
  transform: rotate(60000deg);
} */
.outer {
  height: 840px;
  width: 840px;
  position: absolute;
  top: 10%;
  left: -3%;
}

@media screen and (max-width: 1681px) {
  .total {
    top: 14%;
    left: 42%;
  }
  .inner_img {
    height: 350px;
    width: 350px;
  }
  .outer_img {
    height: 450px;
    width: 470px;
  }
  .outer {
    top: 113px;
  }
  .dataCollection {
    left: 90px;
    top: 380px;
  }

  .dataStorage {
    left: 90px;
    top: 220px;
  }
  .milkyWay {
    left: 318px;
    top: 100px;
  }
  .DataAnotation {
    right: 102px;
    top: 225px;
  }

  .TestViladation {
    left: 321px;
    top: 506px;
  }
}

@media screen and (max-width: 1440px) {
  .total {
    top: 13%;
    left: 38%;
  }
  .inner_img {
    height: 350px;
    width: 350px;
  }
  .outer_img {
    height: 450px;
    width: 470px;
  }
  .outer {
    top: 113px;
  }
  .dataCollection {
    left: 90px;
    top: 380px;
  }

  .dataStorage {
    left: 90px;
    top: 220px;
  }
  .milkyWay {
    left: 318px;
    top: 100px;
  }
  .DataAnotation {
    right: 102px;
    top: 225px;
  }

  .TestViladation {
    left: 321px;
    top: 506px;
  }
}

@media screen and (max-width: 1280px) {
  .total {
    top: 13%;
    left: 34%;
  }
  .inner_img {
    height: 350px;
    width: 350px;
  }
  .outer_img {
    height: 450px;
    width: 470px;
  }
  .outer {
    top: 113px;
  }
  .dataCollection {
    left: 90px;
    top: 380px;
  }

  .dataStorage {
    left: 90px;
    top: 220px;
  }
  .milkyWay {
    left: 318px;
    top: 100px;
  }
  .DataAnotation {
    right: 102px;
    top: 225px;
  }

  .TestViladation {
    left: 321px;
    top: 506px;
  }
}
@media screen and (max-width: 1080px) {
  .total {
    top: 13%;
    left: 29%;
  }
  .inner_img {
    height: 350px;
    width: 350px;
  }
  .outer_img {
    height: 450px;
    width: 470px;
  }
  .outer {
    top: 113px;
  }
  .dataCollection {
    left: 90px;
    top: 380px;
  }

  .dataStorage {
    left: 90px;
    top: 220px;
  }
  .milkyWay {
    left: 318px;
    top: 100px;
  }
  .DataAnotation {
    right: 102px;
    top: 225px;
  }

  .TestViladation {
    left: 321px;
    top: 506px;
  }
}

/* @media screen and (max-height: 900px) {
  .total {
    top: 6%;
  }
} */
