/* .ringInside {
  width: 600px;
  height: 600px;
  background: linear-gradient(90deg, #00dbde, #fc00ff, #00dbde);
  border-radius: 50%;
  position: absolute;
  left: 840px;
  top: 200px;
  animation: glow 12s linear infinite;
  border: transparent;
  background-size: 300%;
}

.ringInside::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: inherit;
  background-size: inherit;
  border-radius: 4em;
  opacity: 0;
  transition: 0.5s;
}

.ringInside:hover::before {
  opacity: 1;
  filter: blur(80px);
  border-radius: 50%;
  animation: glow 12s linear infinite;
}

.ringInside::after {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 150px;
  left: 150px;
}

@keyframes glow {
  to {
    background-position: 300%;
  }
} */

.dataCollectionEng {
  position: absolute;
  top: 464px;
  left: -170px;
  cursor: pointer;
}

.dataStorageEng {
  position: absolute;
  top: 210px;
  left: -165px;
  cursor: pointer;
}
.milkyWayEng {
  position: absolute;
  top: 15px;
  left: 250px;
  cursor: pointer;
  z-index: 100;
}

.totalEng {
  height: 800px;
  width: 800px;

  position: absolute;
  top: 12%;
  left: 43%;
}
.innerEng {
  height: 550px;
  width: 550px;
  position: absolute;
  top: 13%;
  left: 16%;
  z-index: 100;
}

.innerEng::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #0268ea, #1d2087, #1d2087);
  background-size: 300%;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
}

.innerEng:hover::before {
  opacity: 1;
  filter: blur(40px);
  border-radius: 50%;
  animation: glow 12s linear infinite;
}
.innerEng::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: white;
  background-size: 50%;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
}
.innerEng:hover::after {
  opacity: 1;
  filter: blur(40px);
  border-radius: 50%;
  animation: glow 12s linear infinite;
}

.innerEng:hover {
  transition-duration: 140s;
  transition-property: transform;
  transform: rotate(6000deg);
  transition-timing-function: linear;
}
.outerEng {
  height: 840px;
  width: 840px;
  position: absolute;
  top: 3%;
  left: -10%;
}
.btn_all {
  overflow: hidden;
}
.btn_all::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(248, 247, 246, 0.5),
    transparent
  );
  transform: translateX(-100%);
  transition: 0.6s;
  z-index: 101;
}

.btn_all:hover {
  background: transparent;
  /* box-shadow: 0 0 20px 10px hsla(45deg, 100%, 41%, 0.5); */
}

.btn_all:hover::before {
  transform: translateX(100%);
}
