/* .ringInside {
  width: 600px;
  height: 600px;
  background: linear-gradient(90deg, #00dbde, #fc00ff, #00dbde);
  border-radius: 50%;
  position: absolute;
  left: 840px;
  top: 200px;
  animation: glow 12s linear infinite;
  border: transparent;
  background-size: 300%;
}

.ringInside::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: inherit;
  background-size: inherit;
  border-radius: 4em;
  opacity: 0;
  transition: 0.5s;
}

.ringInside:hover::before {
  opacity: 1;
  filter: blur(80px);
  border-radius: 50%;
  animation: glow 12s linear infinite;
}

.ringInside::after {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 150px;
  left: 150px;
}

@keyframes glow {
  to {
    background-position: 300%;
  }
} */

.dataCollectionEng {
  position: absolute;
  top: 460px;
  left: -80px;
  cursor: pointer;
  z-index: 200;
}

.dataStorageEng {
  position: absolute;
  top: 245px;
  left: -76px;
  cursor: pointer;
  z-index: 200;
}
.milkyWayEng {
  position: absolute;
  top: 80px;
  left: 270px;
  cursor: pointer;
  z-index: 200;
}
.DataAnotationEng {
  position: absolute;
  top: 250px;
  right: -160px;
  cursor: pointer;
  z-index: 200;
}

.ModleTrainingEng {
  position: absolute;
  top: 464px;
  right: -150px;
  cursor: pointer;
  z-index: 200;
}
.TestViladationEng {
  position: absolute;
  top: 628px;
  left: 265px;
  cursor: pointer;
  z-index: 200;
}

.totalEng {
  height: 700px;
  width: 700px;

  position: absolute;
  top: 17%;
  left: 52%;
}
.innerEng {
  height: 550px;
  width: 550px;
  position: absolute;
  top: 23%;
  left: 18%;
  z-index: 100;
}
.outerEng {
  height: 840px;
  width: 840px;
  position: absolute;
  top: 13%;
  left: -4%;
}
/* .innerEng::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: #0268ea;
  background-size: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
}

.innerEng:hover::before {
  opacity: 1;
  filter: blur(20px);
  border-radius: 50%;
  animation: glow 12s linear infinite;
}
.innerEng::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: white;
  background-size: 50%;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
}
.innerEng:hover::after {
  opacity: 1;
  filter: blur(30px);
  border-radius: 50%;
  animation: glow 12s linear infinite;
} */

/* .innerEng:hover {
  transition-duration: 140s;
  transition-property: transform;
  transform: rotate(6000deg);
  transition-timing-function: linear;
} */
/* .innerEng:hover::before {
  transition-duration: 1400s;
  transition-property: transform;
  transform: rotate(60000deg);
}
.innerEng:hover::after {
  transition-duration: 1400s;
  transition-property: transform;
  transform: rotate(60000deg);
} */

.btn_all {
  overflow: hidden;
  border-radius: 60%;
}
.btn_all::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background: linear-gradient(
    120deg,
    rgba(248, 247, 246, 0),
    rgba(248, 247, 246, 0.5),
    rgba(248, 247, 246, 0)
  );
  transform: translateX(-100%);
  transition: 0.2s;
  z-index: 101;
}

.btn_all:hover {
  background: transparent;
  /* box-shadow: 0 0 20px 10px hsla(45deg, 100%, 41%, 0.5); */
}

.btn_all:hover::before {
  transform: translateX(100%);
}

/* @media screen and (max-height: 900px) {
  .totalEng {
    top: 3%;
  }
} */

@media screen and (max-width: 1681px) {
  .totalEng {
    top: 14%;
    left: 40%;
  }
  .inner_imgEng {
    height: 350px;
    width: 350px;
  }
  .outer_imgEng {
    height: 450px;
    width: 550px;
  }
  .outerEng {
    top: 113px;
  }
  .dataCollectionEng {
    left: 50px;
    top: 385px;
  }

  .dataStorageEng {
    left: 50px;
    top: 225px;
  }
  .milkyWayEng {
    left: 298px;
    top: 100px;
  }
  .DataAnotationEng {
    right: -32px;
    top: 225px;
  }

  .TestViladationEng {
    left: 291px;
    top: 506px;
  }
}

@media screen and (max-width: 1560px) {
  .totalEng {
    top: 14%;
    left: 42%;
  }
  .inner_imgEng {
    height: 350px;
    width: 350px;
  }
  .outer_imgEng {
    height: 450px;
    width: 550px;
  }
  .outerEng {
    top: 113px;
  }
  .dataCollectionEng {
    left: 50px;
    top: 385px;
  }

  .dataStorageEng {
    left: 50px;
    top: 225px;
  }
  .milkyWayEng {
    left: 298px;
    top: 100px;
  }
  .DataAnotationEng {
    right: -36px;
    top: 225px;
  }

  .TestViladationEng {
    left: 291px;
    top: 506px;
  }
}

@media screen and (max-width: 1440px) {
  .totalEng {
    top: 14%;
    left: 38%;
  }
  .inner_imgEng {
    height: 350px;
    width: 350px;
  }
  .outer_imgEng {
    height: 450px;
    width: 550px;
  }
  .outerEng {
    top: 113px;
  }
  .dataCollectionEng {
    left: 50px;
    top: 385px;
  }

  .dataStorageEng {
    left: 50px;
    top: 225px;
  }
  .milkyWayEng {
    left: 298px;
    top: 100px;
  }
  .DataAnotationEng {
    right: -32px;
    top: 225px;
  }

  .TestViladationEng {
    left: 291px;
    top: 506px;
  }
}

@media screen and (max-width: 1280px) {
  .totalEng {
    top: 14%;
    left: 34%;
  }
  .inner_imgEng {
    height: 350px;
    width: 350px;
  }
  .outer_imgEng {
    height: 450px;
    width: 550px;
  }
  .outerEng {
    top: 113px;
  }
  .dataCollectionEng {
    left: 50px;
    top: 385px;
  }

  .dataStorageEng {
    left: 50px;
    top: 225px;
  }
  .milkyWayEng {
    left: 298px;
    top: 100px;
  }
  .DataAnotationEng {
    right: -32px;
    top: 225px;
  }

  .TestViladationEng {
    left: 291px;
    top: 506px;
  }
}

@media screen and (max-width: 1080px) {
  .totalEng {
    top: 14%;
    left: 30%;
  }
  .inner_imgEng {
    height: 350px;
    width: 350px;
  }
  .outer_imgEng {
    height: 450px;
    width: 550px;
  }
  .outerEng {
    top: 113px;
  }
  .dataCollectionEng {
    left: 50px;
    top: 385px;
  }

  .dataStorageEng {
    left: 50px;
    top: 225px;
  }
  .milkyWayEng {
    left: 298px;
    top: 100px;
  }
  .DataAnotationEng {
    right: -32px;
    top: 225px;
  }

  .TestViladationEng {
    left: 291px;
    top: 506px;
  }
}
